<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.mapper.DetailMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.pojo.Detail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operation" property="operation" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="seat_order_id" property="seatOrderId" jdbcType="INTEGER" />
    <result column="item_order_id" property="itemOrderId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, operation, money, uid, seat_order_id, item_order_id, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bishe.pojo.DetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="getDetailsCount" resultType="java.lang.Integer">
		select count(*) from detail
	</select>
	  <select id="getDetailsByPage" resultMap="BaseResultMap">
    select * from detail limit #{0},#{1}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bishe.pojo.DetailExample" >
    delete from detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bishe.pojo.Detail" >
    insert into detail (id, operation, money, 
      uid, seat_order_id, item_order_id, 
      time)
    values (#{id,jdbcType=INTEGER}, #{operation,jdbcType=INTEGER}, #{money,jdbcType=REAL}, 
      #{uid,jdbcType=INTEGER}, #{seatOrderId,jdbcType=INTEGER}, #{itemOrderId,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bishe.pojo.Detail" >
    insert into detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="seatOrderId != null" >
        seat_order_id,
      </if>
      <if test="itemOrderId != null" >
        item_order_id,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="seatOrderId != null" >
        #{seatOrderId,jdbcType=INTEGER},
      </if>
      <if test="itemOrderId != null" >
        #{itemOrderId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bishe.pojo.DetailExample" resultType="java.lang.Integer" >
    select count(*) from detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.operation != null" >
        operation = #{record.operation,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.seatOrderId != null" >
        seat_order_id = #{record.seatOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.itemOrderId != null" >
        item_order_id = #{record.itemOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update detail
    set id = #{record.id,jdbcType=INTEGER},
      operation = #{record.operation,jdbcType=INTEGER},
      money = #{record.money,jdbcType=REAL},
      uid = #{record.uid,jdbcType=INTEGER},
      seat_order_id = #{record.seatOrderId,jdbcType=INTEGER},
      item_order_id = #{record.itemOrderId,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.pojo.Detail" >
    update detail
    <set >
      <if test="operation != null" >
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="seatOrderId != null" >
        seat_order_id = #{seatOrderId,jdbcType=INTEGER},
      </if>
      <if test="itemOrderId != null" >
        item_order_id = #{itemOrderId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.pojo.Detail" >
    update detail
    set operation = #{operation,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      uid = #{uid,jdbcType=INTEGER},
      seat_order_id = #{seatOrderId,jdbcType=INTEGER},
      item_order_id = #{itemOrderId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>